.gz-content-maxlength {
  max-width: 80ch;
}

$gz-alignments: left, center, right !default;

@each $alignment in $gz-alignments {
  .gz-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

@each $key in $gz-background-colors {
  .gz-background--#{$key} {
    background-color: gz-color($key);
  }
}

@each $key in $gz-ink-colors {
  .gz-ink--#{$key},
  a.gz-ink--#{$key} {
    color: gz-color(#{$key});
  }

  .gz-ink--#{$key} > a:not(.gz-button) {
    color: inherit;
  }
}

.gz-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $unit in $gz-spacing {
  .gz-mt-#{$key} {
    margin-top: $unit;
  }
}

.gz-mb-none {
  margin: 0;
}
